/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Poppins', sans-serif;
}

/* Custom Scrollbar para navegadores Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121214;
}

::-webkit-scrollbar-thumb {
  background: #2c2c30;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed; /* Roxo ao passar o mouse */
}
